<h1>Welcome</h1>
<br>
<h5>Welcome to Article Base 1.0.0</h5>
<p>Post funny and iteresting articles and choose for them to be read by the world or completely private as your own
    personal knowledge base.</p>

{{#if user}}
{{else}}
<a href="/auth/google" class="red darken-1 btn"> <i class="fab fa-google left"></i> Login with Google</a>
{{/if}}